{% extends 'base.html.twig' %}

{% block content %}
    <div v-cloak id="vue-login" class="is-flex is-flex-direction-column is-justify-content-center">
        <div class="columns is-centered">
            <div class="column is-half-tablet is-one-third-desktop">
                <router-view :csrf="'{{ csrf_token('authenticate') }}'"></router-view>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('login/index') }}
{% endblock %}

{% block styles %}
    {{ encore_entry_link_tags('login/index') }}
{% endblock %}
