<!DOCTYPE html>
<html lang="{{ app.user.locale.value ?? locale }}">
    <head>
        <meta charset="utf-8">
        <title>{{ title ?? 'eTraxis' }}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {{ encore_entry_link_tags('font-awesome') }}
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
